.container-users {
    background-color: var(--bg-color-second);
    padding: 20px;
    width: 100%;
}

.container-users > div > h1 {
    margin-bottom: 20px;
}

.frends-page__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.frends-page__menu > li {
    cursor: pointer;
    margin: 0 10px;
    color: var(--text-name-color);
    line-height: 30px;
    border-bottom: 2px solid transparent;
}

.frends-page__menu > li:hover {
    border-bottom: 2px solid var(--text-name-color);
}
