.container__auth {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.auth__row {
  margin-bottom: 20px;
  display: block;
}

.container-auth__row-btn {
  display: flex;
  justify-content: space-between;
}
